/* General body styling */
body {
    font-family: Verdana, sans-serif;
    font-weight: 100;
    color: #515050;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image styling */
img {
    display: block;
    border-radius: 0px 0px 25px 25px;
    width: 10vb;
    height: auto;
}



/* Court table styling */
.CourtTable {
    width:140vb; /* Ensure table takes full width */
    height: 80vb;
    border-collapse: collapse; /* Collapse borders */
}

/* Court box styling */
.CourtBox {
    background-color: #CAD4DB;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    padding: 20px;
     /* Adjusted margin for better spacing on larger screens */
    margin-left: -10vb;
    width:140vb; /* Ensure table takes full width */
    height: 100vb;
}

/* Court number styling */
.Courtnumber {
    font-weight: 800;
    font-size: 3em;
    padding: 20px 0;
    text-align: left;
}

/* Display headlines styling */
.DisplayHeadlines {
    display: flex; /* Use flexbox to align items horizontally */
    gap: 32px; /* Maintain gap between items */
}

/* Game titles styling */
.DisplayGameTitles {
    font-weight: 200;
    font-size: 3.2em;
}

/* Game numbers styling */
.DisplayGameNumbers {
    font-weight: 100;
    font-size: 4em;
    text-align: center;
}

/* Player's club styling */
.spielerverein {
    font-size: 3em;
    padding: 0px 8px;
}

/* Player's field styling */
.spielerfeld {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 10px;
    font-size: 4.2em;
    text-align: center;
}

/* Game values styling */
.spielwerte {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 10px;
    font-size: 4.2em;
    text-align: center;
}

/* Game points styling */
.spielwertePunkte {
    background-color: #515050;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 10px;
    font-size: 7.2em;
    color: #ffffff;
    text-align: center;
}

/* Court description styling */
.CourtDescription > span,
.CourtDescription2 > span {
    padding: 20px;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 200;
}

/* Button styling */
.signupbtn {
    margin-top: 20px;
    background-color: #ffffff62;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    height: 40px;
    width: 100%;
    border: none;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signupbtn:hover {
    background-color: #e0e0e0;
}

/* Edit game button styling */
.editGame {
    margin-top: 30px;
    background-color: #8100d662;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    height: 70px;
    width: 50%;
    border: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
    margin-left: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editGame:hover {
    background-color: #6e00b5;
}

/* Serve image styling */
.serveImage {
    height: 25px;
    width: 25px;
}

/* Trophy image styling */
.TrophyImage {
    margin-left: 25%;
    height: auto;
    width: 50%;
}


